main {
    background-image: url(../images/design-space-paper-textured-background.jpg);
    background-size: 100% 100%;
}

.our-notes {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.note {
    width: 60%;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 10px 75px;
}

.note:nth-child(odd) p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(37, 83, 84);
}
.note:nth-child(even) p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
}

.note:nth-child(odd) {
    border: 3px dotted black;
    align-self: flex-start;
}

.note:nth-child(even) {
    border: 5px double red;
    align-self: flex-end;
}