body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: cadetblue;
    height: 60px;

    /*added*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;

    /*added*/
    position: fixed;
    right: 0;
    width: 100%;
}

main {
    flex-grow: 1;
    background-color: moccasin;

    /*added*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin-top: 60px; /*то же количество пикселей, что и высота header*/
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: brown;
    color: wheat;
    height: 65px;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}